[user]
    name = Daniel Boeve
    email = djboeve@gmail.com
[alias]
    up-mast = "!git fetch origin && git checkout origin/master"
    newb = "!git up-mast && git cpb $1"
    stash-cb = "!CURRENTBRANCH=$(git symbolic-ref HEAD 2>/dev/null | cut -d"/" -f 3)"
    g = "grep -n"
    cpb = "!git checkout -b $1 && git push --set-upstream origin"
    wip = "commit -an -m WIP"
    fp = "push origin HEAD -f"
[core]
    editor = vim
    excludesfile = ~/.gitignore
[color]
    ui = true
[push]
	default = simple
